.main-shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-green-bar {
    background-color: var(--color-koin-green);
    color: var(--color-primary);
    /* Dark text for contrast */
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    padding: 4px 0;
    width: 100%;
}

.content-area {
    flex: 1;
    padding: 32px 24px;
}

.content-wrapper {
    max-width: var(--max-content-width);
    margin: 0 auto;
}